@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

main {
  flex-grow: 1;
}


/*Dispositivos pequeños*/
@media all and (min-width: 375px) {
  #carouselExampleSlidesOnly {
    font-size: 0.7rem;
  }
  /*cambia el tamaño y el color de los iconos del nav*/
  .iconosDelNav a {
    color: black;
    font-size: 1.8rem;
    margin-left: 0.5rem;
  }
  /*cambia la fuente del logo*/
  .fuenteLogo {
    font-family: 'Bokor', cursive;
  }
  /*cambia el color y el tamaño del logo*/
  .logo {
    text-decoration: none;
    color: black;
    font-size: xx-large;
  }

}

/*Dispositivos medianos*/
@media all and (min-width: 768px) {
  #carouselExampleSlidesOnly {
    font-size: .9rem;
    padding: .5rem;
  }
}