@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

main {
  flex-grow: 1;
}


/*Dispositivos pequeños*/
@media all and (min-width: 375px) {
  /*con esto cambio el tamaño del banner superior de publicidad*/
  #carouselExampleSlidesOnly {
    font-size: 0.7rem;
  }
  /*cambia el tamaño y el color de los iconos del nav*/
  .iconosDelNav a {
    color: black;
    font-size: 1.8rem;
    margin-left: 0.5rem;
  }
  /*cambia la fuente del logo*/
  .fuenteLogo {
    font-family: 'Bokor', cursive;
  }
  /*cambia el color y el tamaño del logo*/
  .logo {
    text-decoration: none;
    color: black;
    font-size: xx-large;
  }

  /*con esto quito los bordes redondeados a los botones del navbar*/
  .dropdown-menu {
    border-radius: 0 !important;
  }

  .navbar-toggler {
    border-color: transparent;
    border-radius: 0;
  }
  /*con esto doy estilo al boton del formulario de ofertas*/
  footer button {
    border: none;
    background-color: black;
    color: white;
    padding: 0.8rem;
    width: 6rem;
  }
  /*quita el estilo de lista*/
  footer ul {
    list-style: none;
  }

  .espacioLetras{
    letter-spacing: 0.4rem;
  }

}

/*Dispositivos medianos*/
@media all and (min-width: 768px) {
  /*con esto cambio el tamaño del banner superior de publicidad*/
  #carouselExampleSlidesOnly {
    font-size: .9rem;
    padding: .5rem;
  }
}

/*Dispositivos grandes*/
@media all and (min-width: 1200px) {

  /*con esta clase alineo el nav*/
  .paddingNav {
    padding-left: 16%;
  }
}

.modal-content {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}


#contenedor-detalles{
  display: flex;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 1%;
}

.dropdownDetalles{
  min-width: 15em;
  position: relative;
  margin: 2em;
}
.dropdownDetalles * {
  box-sizing: border-box;
}
.selectt{
  background:#000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #252525 solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.selectt-clicked{
  border: 2px #b0b0b0 solid;
  box-shadow: 0 0 0.8em #b0b0b0;
}
.selectt:hover {
  background: #171616;
}
.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
.caret-rotate{
  transform: rotate(180deg);
}
.menu{
  margin-top: 9px;
  list-style: none;
  padding: 0.2em 0.5em;
  background: #000000;
  border: 1px #000000 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu li:hover{
  background: #171616 ;
}
.activo{
  background: #171616;
}
.menu-open{
  display: block;
  opacity: 1;
}

#flechasDetalles{
  margin-right: 20px;
}
#lupaDetalles{
  margin-right: 20px;
}
#botonDetalles{
  position: relative;
  background-color: #000000;
  border: none;
  font-size: 15px;
  color: #c7c7c7;
  padding: 7px;
  width:93% ;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
#botonDetalles:after{
  content: "";
  background: #797979;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 2s
}
#botonDetalles:active:after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
#contenedor-detalles-derecha{
  width: 60%;
}
#cuotasDetalles{
  display: flex;
}
#envioDetalles{
  display: flex;
}